@use "./imports/base" as *;

// PAGES
// INDEX SECTIONS
@use "./imports/pages/index/header" as *;
@use "./imports/pages/index/about" as *;
@use "./imports/pages/index/location" as *;
@use "./imports/pages/index/partnerships" as *;
@use "./imports/pages/index/sponsors" as *;
@use "./imports/pages/index/tracks" as *;
@use "./imports/pages/index/prizes.scss" as *; // ABOUT SECTIONS
@use "./imports/pages/about/goals" as *;
@use "./imports/pages/about/team" as *;

// SCHEDULE
@use "./imports/pages/schedule" as *;

// COMPONENTS
@use "./imports/components/navbar" as *;
@use "./imports/components/footer" as *;
